* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  scroll-behavior: smooth;
  
}
body {
  background-color: rgb(22, 7, 35);
}
h1 {
  display: inline-block;
}

header {
  position: fixed;
  top: 0px;
  background-color: rgb(37, 19, 54);
  height: 50px;
}
.head {
  display: flex;
  width: 100%;
}
span {
  font-weight: bold;
  font-size: 1.7em;
}

a {
  margin-right:80px;
  justify-self: flex-end;
  font-size: 1.19em;
}
a:hover {
  color: rgb(191, 13, 13);
  box-shadow: 0px 2px 20px 0px rgb(191, 13, 13);
}
.white {
  margin-left: 100px;
  margin-top: 10px;
}
.red {
  color: rgb(191, 13, 13);
  font-weight: bolder;
  margin-top: 10px;
}

.links {
  position: absolute;
  right: 0px;
  margin-top: 15px;
  margin-right: 150px;
}
#myself {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height:1000px;
  width:auto;
}
.a {
  position: absolute;
  top: 30px;
  left: 0px;
  height: 200px;
  width: 300px;
}

p {
  width: 800px;
  text-align: justify;
}
.icon {
  margin-right: 20px;
  font-size: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid rgb(191, 13, 13);
  border-radius: 50%;
  i {
    color: rgb(191, 13, 13);
  }
}
.icondivs {
  display: flex;
  justify-content: center;
}
button {
  background-color: rgb(191, 13, 13);
  border: 0px;
  height: 40px;
  width: 160px;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 0px red;
}
.none{
  background-color: rgb(22, 7, 35);
  border: 2px solid rgb(191, 13, 13);
  color:rgb(191, 13, 13) ;
}
#about {
  display: flex;
  background-color: rgb(13, 3, 23);
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width:auto;
}
#about > img {
  height: 500px;
  width: 700px;
  position: relative;
}

.about-text > h1 {
  margin-right: 10px;
  
}
.about-text > span {
  font-size: 1.3em;
}
.contianer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.griditems {
  height: 200px;
  width: 320px;
  background-color: rgb(63, 33, 92);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0 0px 10px 0px red;
}
.griditems:hover {
  p {
    display: inline-block;
    text-align: justify;
    animation: slideup 1.5s ease-in-out;
    vertical-align: bottom;
  }
}
@keyframes slideup {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.griditems > p {
  display: none;
  width: 100%;

}

#mywork {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:auto;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1000px;
  background-color: rgb(13, 3, 23);
  width:auto;
}

input {
  height: 40px;
  width: 400px;
  border-radius: 10px;
  margin: 5px;
  background-color: rgba(156, 154, 154, 0.3);
  border: 0px;
  text-align: start;
  color: white;
  padding: 10px;
  font-size: 16px;
  resize: none;
  
}
::placeholder {
  color: white;
  opacity: 0.5;
  font-size: 1.2em;
}
.big {
  padding: 10px;
  margin-top:5px;
  width: 830px;
  height: 200px;
  resize: none;
  border-radius: 10px;
  background-color: rgba(156, 154, 154, 0.3);
}
h1,h2,span,img,h3,button,a,p{
  animation: slideIn 1.5s ease-in-out;
}
  
  

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bounce {
  
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(50px);
  }

}
img{
  animation: bounce 3s infinite;
}
@media(max-width:600px) {
  .white::before {
    content: "\f0c9"; /* Unicode for the bars icon in Font Awesome Solid */
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    margin-right:20px; 
    
  }
  p {
    width:300px;
    text-align: justify;
  }
  header{
    width: 100%;
  }
  .links{
    visibility: hidden;
  }
  #myself,#about,#mywork,#contact{
    width:100%;
  }
 #myself>img{
    height:150px;
    width:200px;
    position: absolute;
    top: 10px;
    left:0px;
  }
  .white {
    margin-left:25px;
    margin-top: 10px;
  }
  #about{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: 0px;
    text-align: center;
  }
  .about-text>img{
    height:200px;
    margin-bottom: 20px;
  }

  .contianer{
    display: inline-block;
  }
  .griditems{
    height:130px;
    margin-bottom: 5px;
   
  }

input,.big{
  display: inline-block;
  width:92%;
}

















}